<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>bold.ttf</string>
		<string>extra_bold.ttf</string>
		<string>light.ttf</string>
		<string>regular.ttf</string>
	</array>
</dict>
</plist>
